* {
    font-family :verdana,sans-serif;
    font-size   :14pt;
}

body {
    width       :900px;
    margin      :20px auto;
    background  :#f8f8f8;
    border      :1px solid #888; 

}

html {
    background-image: url (src="lib/parsedown-1.7.3/fond.png" ) no-repeat ;
    background: url(/lib/parsedown-1.7.3/fond.png) no-repeat;
    background-size: cover;
    /*    background-image:url(/lib/fonds.jpg);*/
    /*    background  :#fff;*/
}

.main {
    padding    :20px;
}

form * {
    font-family: inherit;
    font-size: inherit;
}
.menu {
    margin-top: -30px;
    padding    :20px;
    float: right;
    text-align  :right;
}

.sous{
    display: none;
    background-color: white;
    box-shadow: 0px 1px 2px #ccc;
}
nav  >ul li :hover .sous{
    display: block;
}
.recherche{
    float: right;
    text-align  :right;
    margin-left:50%;
}
.bloc1 {
    padding-top: 10px;
    background:blue;
    padding-bottom: 30px; 
}
.title {
    float: left;
    text-align  :left;
    background  :blue;
    color       :white;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    float: left;
    position: relative;
}
.menu > a::after{

}
.menu a {
    display           :inline;
    border            :1px solid #100;
    background        :#ddd;
    color             :#d04;
    border-radius     :3px;
    text-decoration   :none;
}

.menu a:hover {
    color   :green;
}

.message_list {
    border-collapse: collapse;
    width: 100%;
}

.message_list * {
    font-size: 10pt;
}

.message_list th, .message_list td {
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    width: 100%;
}

.errors {
    color: red;
}

.success {
    color: green;
}

form.link {
    display: inline;
}

form.link input[type="submit"] {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/*style delete*/
.bloc {
    width       :700px;
    margin      :20px auto;
    background  :#f8f8f8;
    border      :1px solid #888;
}
.delete{
    text-align: center;
}

.taglist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.taglist li {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#TagName{
    height:30px;
    width:200px;
}
#addtag{
    background-image: url(lib/parsedown-1.7.3/plus.png);
    color: red;
}

.pagination li {
  color: black;
  display: inline-block;
  margin-left: 2%;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
/*.pagination a.active {
  background-color: dodgerblue;
  color: white;
}*/

/* Add a grey background color on mouse-over */
/*.pagination a:hover:not(.active) {background-color: #ddd;}*/