* {
    font-family :verdana,sans-serif;
    font-size   :14pt;
}

body {
    margin      :20px auto;
    background  :#f8f8f8;
    border      :1px solid #888;
}

html {
    background  :#fff
}

.main {
    padding    :20px;
}

form * {
    font-family: inherit;
    font-size: inherit;
}

.menu {
    float: right;
    text-align  :right;
}
.menus {
    float: left;
    text-align  :left;
}
.recherche{
    float: right;
    text-align  :right;
    margin-left:50%;
}
.bloc1 {
    padding-top: 10px;
    background:blue;
    padding-bottom: 30px; 
}
.title {
    float: left;
    text-align  :left;
   background  :blue;
    color       :white;
}

.menu a {
    display           :inline;
    border            :1px solid #100;
    background        :#ddd;
    color             :#d04;
    border-radius     :3px;
    text-decoration   :none;
}

.menu a:hover {
    color   :green;
}

.message_list {
    border-collapse: collapse;
    width: 100%;
}

.message_list * {
    font-size: 10pt;
}

.message_list th, .message_list td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    width: 100%;
}

.errors {
    color: red;
}

.success {
    color: green;
}

form.link {
    display: inline;
}

form.link input[type="submit"] {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}