<nav>  
    <div class="menu">  
        <ul>
            <li><a href="post/Ak_a_question">Ak a question</a></li>
            <li><a href="post/questions">Questions</a></li>
            <li><a href="tag">tags</a></li>
            <li><a href="user/start">Start</a></li>
            <li><a > <img src="lib/parsedown-1.7.3/user.png" width="30" height="20"  alt=""/><?= $user->UserName; ?></a> </li>
            <li><a href="user/log_out"><img src="lib/parsedown-1.7.3/logout.png" width="30" height="20"  alt=""/></a></li>
        </ul>
    </div>
</nav> 
